body{
    background : #F7F6F2;
}
#sideMenu{
    margin-top:1%;
    margin-left:2%;
    float : left;
    width: 20%;
    height: 95%;
    background: white;
    border:solid #E2E2E2;
    border-width: 1px;
}

.subMenu{
    margin-top :20px;
    margin-left : 30px;
    font-size: 25px;
}
.subMenu:hover{
    opacity: 0.3;
}
#main{
    margin-top:1%;
    margin-left:1%;
    margin-right:2%;
    float : left;
    width: 74%;
    height: 95%;
    background: white;
    border:solid #E2E2E2;
    border-width: 1px;
    overflow: auto;
}

#capacity{
    height:42%;
    border-top: solid #E2E2E2;
    border-top-width: 1px;
}
#bestCapacity{
    height:10%;
    border-top: solid #E2E2E2;
    border-top-width: 1px;
}

#record{
    height:30%;
    border-top: solid #E2E2E2;
    border-top-width: 1px;
}